<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="JSDictionaryGroup">
	<resultMap type="JSDictionaryGroup" id="jSDictionaryGroupResultMap">
		<result property="id" column="id" />
		<association property="dictGroup" column="dictGroupId" javaType="JSDictionaryGroup" select="JSDictionaryGroup.findById" />
	</resultMap>
	
	<sql id="table_columns">
		id,dictGroupName,dictGroupCode
    </sql>
	<sql id="entity_properties">
		#{id},#{dictGroupName},#{dictGroupCode}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="save" parameterType="JSDictionaryGroup">
		insert into j_s_dictionarygroup( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<delete id="deleteByIds">
		delete from j_s_dictionarygroup
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<!-- 更新角色 -->
	<update id="update" parameterType="JSRole">
		update 
		j_s_dictionarygroup
		<trim prefix="set" suffixOverrides=",">
			<if test="dictGroupName != null">dictGroupName = #{dictGroupName},</if>
			<if test="dictGroupCode != null">dictGroupCode = #{dictGroupCode},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="jSDictionaryGroupResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from j_s_dictionarygroup
		where id = #{id}
	</select>
	<select id="findByCode" resultMap="jSDictionaryGroupResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from j_s_dictionarygroup
		where dictGroupCode = #{dictGroupCode}
	</select>
	<select id="queryAll" resultMap="jSDictionaryGroupResultMap">
		select <include refid="table_columns" /> 
		from j_s_dictionarygroup
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
		</trim>
	</sql>
	
	<!-- 获取对象列表(分页)-->
	<select id="pagerList" resultMap="jSDictionaryGroupResultMap" parameterType="PagerInfo">
		select <include refid="table_columns" />
		from j_s_dictionarygroup
	</select>
	
	<!-- 其他自定义SQL -->
	
</mapper>