<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="JSOperation">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="JSOperation">
	<result column="id" property="id" />
	</resultMap>
	<!-- 数据表字段列 -->
	<sql id="Base_Column_List">
		jop.id,jop.permissionId,jop.operationName,jop.operationCode,jop.operationPrefixurl,jop.permissionType
	</sql>
	<!-- 数据表名 -->
	<sql id="tableasname"> j_s_operation jop</sql>
	<sql id="tablename"> j_s_operation </sql>
	<!-- where 条件 -->
	<sql id="where"> where 1=1 </sql>
	<!-- columnKey 主键 列名称 ,视图获取不到主键 需要设置 -->
	<sql id="columnKey"> and jop.id=#{id} </sql>
	<sql id="andOther">
		<trim suffixOverrides=",">
			<if test="operationCode != null"> and jop.operationCode = #{operationCode} </if>
			<if test="permissionType != null"> and jop.permissionType = #{permissionType} </if>
		</trim>
	</sql>
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			 <if test="queryParams.operationName !=null">and ju.operationName = #{queryParams.operationName}</if>
		</trim>
	</sql>
	<!-- 保存操作-->
	<insert id="save" parameterType="JSOperation">
		insert into
		<include refid="tablename" />
		(id,permissionId,operationName,operationCode,permissionType)
		values(#{id},#{permissionId},#{operationName},#{operationCode},#{permissionType})
	</insert>
		<!--查找对象-->
	<select id="find" resultMap="BaseResultMap" parameterType="map" >
		select 
		<include refid="Base_Column_List" />
		from 
		<include refid="tableasname"/>
		where jop.id = #{id}
	</select>
	<!--批量删除-->
	<delete id="deleteAll">
		delete from 
		<include refid="tablename" />
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<!--单对象删除-->
	<delete id="delete" parameterType="String">
		delete from 
		<include refid="tablename" />
		where id =#{id}
	</delete>
	<!-- 查询菜单操作 -->
	<select id="selectMenuOperation" parameterType="Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="tableasname" />
		<include refid="where" />
		 and (jop.permissionId='' or jop.permissionId is null or jop.permissionId=#{permissionId}) 
		 and jop.permissionType=#{permissionType}
	</select>
	<!-- 查询,参数查询,Map -->
	<select id="selectByMap" parameterType="Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="tablename" />
		<include refid="where" />
		<include refid="andOther" />
	</select>
	<!-- 获取用户列表(分页)-->
	<select id="pagerList" parameterType="PagerInfo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="tableasname" />
		<include refid="page_where" />
	</select>
</mapper>
